.bold{
    padding-bottom: 10px;
}
.text{
    text-align: center;
    margin:0 auto;

}

body{
    display:grid;
    place-items: center;
    background-color: hsl(212,45%,89%);
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
}
.card{
    background-color:white;
    width: 250px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px;
}
img{
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 10px;
}
.attribution{
    margin-top: auto;
}