.body1 {
    text-align: center;
    height: -150px;
   
}
.both {
    border: 3px solid white;
    border-width: 200px 1.25em;

    
}
.title {
    font-size: 150%;
}
img{
    padding: 20px;
    width: 250px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    
    

}